.card {
    width: 100px;
    height: 150px;
    border: 2px solid transparent;
    background: darkgray;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.borderRed {
    border-color: red;
}

.borderBlue {
    border-color: blue;
}

.revealed {
    background-color: white;
}

.emptySpace {
    width: 100px;
    height: 150px;
    background-color: transparent;
}
